#TabsToolbar,
#PersonalToolbar,
#titlebar,
#sidebar-header,
#search-container,
.tabbrowser-tab,
#star-button,
#PanelUI-menu-button,
#searchbar,
#statuspanel {
  visibility: collapse !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
#nav-bar {
  visibility: visible !important;
  height: auto !important;
}
#back-button,
#forward-button,
#reload-button,
#home-button,
#stop-button,
#downloads-button,
#fxa-toolbar-menu-button {
  display: none !important;
}
#urlbar-container {
  visibility: visible !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
#urlbar {
  opacity: 0.3 !important;
  transition: opacity 0.2s !important;
  min-height: 0 !important;
  max-height: 22px !important;
  width: 100% !important; 
}
#urlbar:hover,
#urlbar:focus {
  opacity: 1 !important;
}
#urlbar-results,
#urlbar-dropmarker,
.urlbarView {
  display: none !important;
}
:root {
  scrollbar-width: none !important;
}
